# Validate with: visudo -cf /etc/sudoers.d/zhangak-deploy
Cmnd_Alias ZHANGAK_SYSTEMD = /usr/bin/systemctl restart zhangak.service, /usr/bin/systemctl is-active zhangak.service
deploy ALL=(root) NOPASSWD: ZHANGAK_SYSTEMD
